/* import google font-family for logo */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");

@font-face {
  font-family: "Amazon Ember, Amazon Ember Display";
  src: url("/fonts/Amazon-Ember-Medium.ttf") format("ttf"),
    url("/fonts/AmazonEmberDisplay_Md.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Amazon Ember";
}

main {
  width: 100%;
  padding: 64px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.Button {
  text-align: center;
  background: #29458c;
  color: #ffffff;
  border-radius: 100px;
  padding: 8px 16px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.btnGroup {
  display: flex;
  gap: 16px;
}

.teamBtn {
  width: 48px;
  height: 48px;
  padding: 8px;
  background: #d4dae8;
  color: #29458c;
  border: 1px solid #29458c;
  border-radius: 8px;
}
